*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
.axtom-main-title{
    font-size:60px;
    color:#112884;
    font-family:poppins-bold;
}
.axtom-main-span{
    opacity:0.7;
}
.axtom-title{
    font-size:40px;
    color:#112884;
    font-family:poppins-semi-bold;
}
.axtom-desc{
    font-size:16px;
    color:#112884;
    width:auto;
    font-family:poppins-regular;
}
.axtom-sub-title{
    color:#112884;
    font-size:35px;
    font-family:poppins-semi-bold;
    white-space: pre-line;
}
.axtom-sub-2-title{
    color:#112884;
    font-size:30px;
    font-family:poppins-semi-bold;
}
.axtom-sub-3-title{
    color:#112884;
    font-size: 20px;
    margin-left: 20px;
    font-family:poppins-semi-bold;
}
.axtom-button{
    background-color:#112884;
    color:#FFFFFF;
    height:70px;
    width:200px;
    border-radius:40px;
    opacity:0.9;
    border:none;
    outline:none;
    font-family:poppins-regular;
}
.axtom-button:focus{
    border:none;
    outline:none;
}
.axtom-main-desc{
    color:#112884;
    font-size:18px;
    font-family:poppins-regular;
}
.navbar-light .navbar-brand {
    color:#112884;
    font-size:40px;
    font-family:poppins-bold;
}
.navbar-light .navbar-brand:hover {
    color:#112884;
}
.navbar-light .navbar-brand:focus{
    color:#112884;
}
.navbar-nav .nav-link {
    color:#112884 !important;
    padding-right: 2rem !important;
    padding-left: 1rem !important;
    padding-top: 17px;
    font-family:poppins-regular;
}
.navbar-light .navbar-text {
    color:#112884;
    padding-top:17px;
    font-family:poppins-regular;
}
.text-img{
    width: 35px;
    height: 35px;
    margin-left: 10px;
    margin-top: -4px;
}
/*.header-sec{
    background-image: url(../images/jpeg/building-2.jpg);
    background-size: 42% 105%;
    background-repeat: no-repeat;
    background-position: 110% 135%;
}

.apartment-heading h1{
    width:670px;
    margin-left:150px;
}
*/
.apartment-search{
    background-color: white;
    box-shadow: 0px 5px 22px #00000033;
    width:100%;
    padding:20px;
    border-left:solid #112884;
}
.search-col-2{
    display: flex;
    justify-content:space-between;
}
.search-border{
    border-right:1px solid #00000033;
}
.axtom-select{
    border:none;
    outline:none;
    background-color:transparent;
    color:#00000033
}
.axtom-search-button{
    background-color:#112884;
    color:#FFFFFF;
    height: 56px;
    width: 140px;
    margin-top:6px;
    border-radius:40px;
    opacity:0.8;
    border:none;
    outline:none;
    font-family:poppins-regular;
}
.axtom-search-button:focus{
    border:none;
    outline:none;
}
.ml-cf-img{
    width:90%;
}
.market-leader-col-first{
    width:100%;
}
.houses-sell-common{
    background-color: white;
    box-shadow: 0px 5px 22px #00000033;
    width:100%;
    height:99%;
}
.house-common-img{
    width:100%;
}
.right-arrow{
    width:20px;
    margin-right:60px;
    margin-top: -532px;
}
.carousel-control-next, .carousel-control-prev {
    width: 0%;
}
.disc-ml{
    margin-right:65px;
    margin-top:-40px;
}
.houses-heading{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.icon{
    margin-left:20px;
}
.bedroom{
    border-right:1px solid #00000033;
}
.icon h6{
    color:#112884;
    font-size:18px;
}
.icon h6 img{
    margin-right:6px;
}
.bath{
    height:25px;
    width:25px;
}
.true-dream-col-first{
    background-color: white;
    box-shadow: 0px 5px 22px #00000033;
    width:100%;
    padding:35px;
}
.dream-flex-1{
    display: flex;
}
.true-heading{
    margin-left:20px;
}
.true-dream-col-second{
    position:relative;
}
.circle-1{
    display:flex;
    width:50px;
    height:50px;
    background-color:#D3D3D3;
    border-radius:50%;
    position:relative;
}
.span-img{
    width: 18px;
    height: 18px;
    position: absolute;
    top: 16px;
    left: 16px;
}
.ture-dream-sec{
    position:relative;
}
.building-bg{
    position: absolute;
    z-index: -1;
    width:60%;
    top: 50px;
    right: 0;
}
.mitchells-sec{
    margin-top:150px;
}
.mitchells-first-img{
    width:300px;
    border-radius: 150px 150px 0px 150px;
}
.mitchells-col-first{
    display: flex;
    justify-content:center;
}
.mitchells-col-second h6{
    color:#112884;
    font-size:18px;
    font-family:poppins-bold;
}
.mitchells-col-second p{
    color:#808080;
    font-size:14px;
    font-family:poppins-regular;
}
.footer-sec{
    background-color:#282F49;
    padding:20px;
}
.footer-common h6{
    color:white;
    font-size:20px;
    font-family:poppins-medium;
}
.footer-common ul li {
    color:#808080;
    font-size:15px;
    margin-left:-30px;
    list-style-type: none;
}
.footer-common ul li a{
    color:#808080;
    text-decoration: none;
    font-family:poppins-regular;
}
.footer-common ul li a:hover{
    color:#6B89FF;
}
.axtom-footer{
    color: #6B89FF;
    font-size:45px;
}
.hr-line{
    color:#FFFFFF;
}
.hr-common-line{
    color:#FFFFFF;
    width:80%;
}
.bottom-footer ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin-left:-50px;
}
.bottom-footer ul li {
    padding-left:20px;
}
.bottom-footer ul li a{
    color:#808080;
    text-decoration: none;
    font-family:poppins-regular;
    font-size:14px;
}
.bottom-footer ul li a:hover{
    color:#6B89FF;
}
.footer-bottom-second-col p{
    display: flex;
    justify-content: flex-end;
    color:#808080;
    font-size: 14px;
    font-family:poppins-regular;
}
.footer-span{
    color:#6B89FF;
}